/* Inizio reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Fine reset */

/* Inizio debug */
.debug .container {
  border: 1px solid blue;
  background-color: green;
}

.debug [class*="col-"] {
  border: 1px solid red;
  background-color: pink;
  height: 300px;
}
.debug [class*="col-"] > .container [class*="col-"] {
  border: 1px solid white;
  background-color: lightcoral;
  height: 100%;
}
/* Fine debug */

/* Inizio regole generali */
.container {
  max-width: 1170px;
  margin: auto;
}
.container::after {
  content: "";
  display: table;
  clear: both;
}
[class*="col-"] {
  float: left;
}
[class*="col-"] > .container {
  height: 100%;
}
[class*="col-"] > .container [class*="col-"] {
  height: 100%;
}
/* Fine regole generali */

/* Calcolo larghezza colonne */
.col-1 {
  width: calc(100%/12*1);
}
.col-2 {
  width: calc(100%/12*2);
}
.col-3 {
  width: calc(100%/12*3);
}
.col-4 {
  width: calc(100%/12*4);
}
.col-5 {
  width: calc(100%/12*5);
}
.col-6 {
  width: calc(100%/12*6);
}
.col-7 {
  width: calc(100%/12*7);
}
.col-8 {
  width: calc(100%/12*8);
}
.col-9 {
  width: calc(100%/12*9);
}
.col-10 {
  width: calc(100%/12*10);
}
.col-11 {
  width: calc(100%/12*11);
}
.col-12 {
  width: calc(100%/12*12);
}
/* Fine calcolo larghezza colonne */

/* Calcolo larghezza offset */
.offset-1 {
  margin-left: calc(100%/12*1);
}
.offset-2 {
  margin-left: calc(100%/12*2);
}
.offset-3 {
  margin-left: calc(100%/12*3);
}
.offset-4 {
  margin-left: calc(100%/12*4);
}
.offset-5 {
  margin-left: calc(100%/12*5);
}
.offset-6 {
  margin-left: calc(100%/12*6);
}
.offset-7 {
  margin-left: calc(100%/12*7);
}
.offset-8 {
  margin-left: calc(100%/12*8);
}
.offset-9 {
  margin-left: calc(100%/12*9);
}
.offset-10 {
  margin-left: calc(100%/12*10);
}
.offset-11 {
  margin-left: calc(100%/12*11);
}
/* Fine calcolo larghezza offset */
