/* Inizio reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Fine reset */

/* Inizio debug */
.debug .container {
  border: 1px solid blue;
  background-color: green;
}

.debug [class*="col-"] {
  border: 1px solid red;
  background-color: pink;
  height: 300px;
}
.debug [class*="col-"] > .container [class*="col-"] {
  border: 1px solid white;
  background-color: lightcoral;
  height: 100%;
}
/* Fine debug */

/* Inizio regole generali */
.container {
  max-width: 1170px;
  margin: auto;
}
.container::after {
  content: "";
  display: table;
  clear: both;
}
[class*="col-"] {
  float: left;
}
[class*="col-"] > .container {
  height: 100%;
}
[class*="col-"] > .container [class*="col-"] {
  height: 100%;
}
/* Fine regole generali */

/* Inizio regole schermo piccolo */
@media all and (max-width: 768px) {
  /* Colonne XS */
  .col-xs-1 {
    width: calc(100%/12);
  }
  .col-xs-2 {
    width: calc(100%/12*2);
  }
  .col-xs-3 {
    width: calc(100%/12*3);
  }
  .col-xs-4 {
    width: calc(100%/12*4);
  }
  .col-xs-5 {
    width: calc(100%/12*5);
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: calc(100%/12*7);
  }
  .col-xs-8 {
    width: calc(100%/12*8);
  }
  .col-xs-9 {
    width: calc(100%/12*9);
  }
  .col-xs-10 {
    width: calc(100%/12*10);
  }
  .col-xs-11 {
    width: calc(100%/12*11);
  }
  .col-xs-12 {
    width: 100%;
  }

  /* Offset XS */
  .col-xs-offset-1 {
    margin-left: calc(100%/12);
  }
  .col-xs-offset-2 {
    margin-left: calc(100%/12*2);
  }
  .col-xs-offset-2 {
    margin-left: calc(100%/12*3);
  }
  .col-xs-offset-4 {
    margin-left: calc(100%/12*4);
  }
  .col-xs-offset-5 {
    margin-left: calc(100%/12*5);
  }
  .col-xs-offset-6 {
    margin-left: 50%;
  }
  .col-xs-offset-7 {
    margin-left: calc(100%/12*7);
  }
  .col-xs-offset-8 {
    margin-left: calc(100%/12*8);
  }
  .col-xs-offset-9 {
    margin-left: calc(100%/12*9);
  }
  .col-xs-offset-10 {
    margin-left: calc(100%/12*10);
  }
  .col-xs-offset-11 {
    margin-left: calc(100%/12*11);
  }
  /* Display none XS */
  .col-xs-display-none {
    display: none;
  }
}
/* Fine regole schermo piccolo */

/* Inizio regole schermo medio */
@media all and (min-width: 768px) and (max-width: 992px) {
  /* Colonne MD */
  .col-md-1 {
    width: calc(100%/12);
  }
  .col-md-2 {
    width: calc(100%/12*2);
  }
  .col-md-3 {
    width: calc(100%/12*3);
  }
  .col-md-4 {
    width: calc(100%/12*4);
  }
  .col-md-5 {
    width: calc(100%/12*5);
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: calc(100%/12*7);
  }
  .col-md-8 {
    width: calc(100%/12*8);
  }
  .col-md-9 {
    width: calc(100%/12*9);
  }
  .col-md-10 {
    width: calc(100%/12*10);
  }
  .col-md-11 {
    width: calc(100%/12*11);
  }
  .col-md-12 {
    width: 100%;
  }

  /* Offset MD */
  .col-md-offset-1 {
    margin-left: calc(100%/12);
  }
  .col-md-offset-2 {
    margin-left: calc(100%/12*2);
  }
  .col-md-offset-2 {
    margin-left: calc(100%/12*3);
  }
  .col-md-offset-4 {
    margin-left: calc(100%/12*4);
  }
  .col-md-offset-5 {
    margin-left: calc(100%/12*5);
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: calc(100%/12*7);
  }
  .col-md-offset-8 {
    margin-left: calc(100%/12*8);
  }
  .col-md-offset-9 {
    margin-left: calc(100%/12*9);
  }
  .col-md-offset-10 {
    margin-left: calc(100%/12*10);
  }
  .col-md-offset-11 {
    margin-left: calc(100%/12*11);
  }
  /* Display none XS */
  .col-md-display-none {
    display: none;
  }
}
/* Fine regole schermo medio */

/* Inizio regole schermo grande */
@media all and (min-width: 992px) {
  /* Colonne XS */
  .col-lg-1 {
    width: calc(100%/12);
  }
  .col-lg-2 {
    width: calc(100%/12*2);
  }
  .col-lg-3 {
    width: calc(100%/12*3);
  }
  .col-lg-4 {
    width: calc(100%/12*4);
  }
  .col-lg-5 {
    width: calc(100%/12*5);
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: calc(100%/12*7);
  }
  .col-lg-8 {
    width: calc(100%/12*8);
  }
  .col-lg-9 {
    width: calc(100%/12*9);
  }
  .col-lg-10 {
    width: calc(100%/12*10);
  }
  .col-lg-11 {
    width: calc(100%/12*11);
  }
  .col-lg-12 {
    width: 100%;
  }

  /* Offset LG */
  .col-lg-offset-1 {
    margin-left: calc(100%/12);
  }
  .col-lg-offset-2 {
    margin-left: calc(100%/12*2);
  }
  .col-lg-offset-2 {
    margin-left: calc(100%/12*3);
  }
  .col-lg-offset-4 {
    margin-left: calc(100%/12*4);
  }
  .col-lg-offset-5 {
    margin-left: calc(100%/12*5);
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: calc(100%/12*7);
  }
  .col-lg-offset-8 {
    margin-left: calc(100%/12*8);
  }
  .col-lg-offset-9 {
    margin-left: calc(100%/12*9);
  }
  .col-lg-offset-10 {
    margin-left: calc(100%/12*10);
  }
  .col-lg-offset-11 {
    margin-left: calc(100%/12*11);
  }
  /* Display none LG */
  .col-lg-display-none {
    display: none;
  }
}
/* Fine regole schermo grande */
