/* BLOCCO LEZIONI */
#lezioni .container img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}
#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}
#why .container img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.container-grey {
  background-color: #f9f9f9;
}
img {
  height: 200px;

}
h1 , h3 {
  margin: 1em 0;
}

/* media query */
@media all and (min-width: 768px) and (max-width: 992px) {
  img {
    height: 100px;
  }
  .container-grey {
    background-color: #3D7E9A;
  }
  #lezioni .col-md-5 p {
    padding: 0 50px;
  }
  #steps .col-md-6 {
    padding: 25px 0;
  }
  #steps .col-md-6 p {
    padding: 0 100px;
  }
  #why .col-md-12 p {
    padding: 25px 100px;
  }
}

/* media query */
@media all and (max-width: 768px) {
  img {
    height: 100px;
  }
  .container-grey {
    background-color: yellow;
  }
  #lezioni .col-xs-5 {
    padding: 25px 0;
    border-bottom: 1px solid black;
  }
  #lezioni .col-sx-5 p {
    padding: 0 200px;
  }
  #steps .col-sx-6 {
    padding: 25px 0;
    border-bottom: 1px solid black;
  }
  #steps .col-sx-6 p {
    padding: 0 200px;
  }
  #why .col-sx-12 p {
    padding: 25px 100px;
  }

}
